@charset "utf-8";
header .top { 
     margin: 0 auto;
     width: 1200px;
     padding: 0 0 26px;
 }

header .top h1 {
     float: left;
     padding-top: 33px;
 }

header .top h1 a:first-child {
     margin-right: 33px;
 }

header .top > div {
     float: right;
 }

header .control {
    float: left;
    padding: 31px 0 0;
}


header .control h2 {
     float: left;
     font-size: 16px;
     color: #333;
     font-weight: normal;
     line-height: 36px;
 }

header .control ul {
    float: left;
    padding-right: 20px;
}

header .control li {
    float: left;
    padding: 0 0 0 4px;
}

header .control li button {
    min-width: 36px;
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 14px;
    color: #3190ce;
    background: #fff;
    border: 1px solid #dfdfdd;
    height: 36px;
    border-radius: 36px;
}

header .control li button[class] {
    padding: 0;
}

header .sns {
    position: relative;
    float: left;
    padding: 27px 0 0;
}

header .sns::before {
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    width: 1px;
    height: 30px;
    background: #e3e3e3;
}

header .sns li {
    float: left;
    padding-left: 20px;
}

header .sns li + li{
    padding: 0 0 0 7px;
}

header .sns li img {
    width: 46px;
}

header .sns li ~ li {
    margin-left: 2px;
}

header .btm {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;

}

header .btm > div{
    margin: 0 auto;
    width: 1200px;
}

header .btm .lnb {
    float: left;
}

header .btm .lnb li {
    float: left;
}


header .btm .lnb a {
    display: block;
    padding: 0 40px;
    line-height: 59px;
    font-size: 22px;
    color: #333;
}

header .btm .spot * {
    vertical-align: middle;
}
header .btm .spot {
    float: right;
    font-size: 0;
}

header .btm .spot a {
    display: inline-block;
    position: relative;
    padding: 0 25px;
    line-height: 59px;
    font-size: 15px;
    color: #666;
}

header .btm .spot a ~ a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 10px;
    background: #e3e3e3;
    transform: translateY(-50%);
}
header .btm .spot button {
    width: 59px;
    height: 59px;
    background: none;
    color: #0066b3;
    font-size: 26px;
}

/* footer */
footer {
    background: #f5f5f5;
}

footer.block > div {
    padding: 60px 0;
}

footer .top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 0 29px;
}

footer .top ul {
    display: inline-flex;
    padding: 0 0 0 38px;
}

footer .top li {
    padding: 0 17px;
    position: relative;
}

footer .top li ~ li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 13px;
    background: #d9d9d9;
    transform: translateY(-50%);
}

footer .top a {
    font-size: 15px;
    color: #555;
    line-height: 44px;
}

footer .top select {
    padding: 0 0 0 20px;
    width: 228px;
    height: 44px;
    border: 1px solid #c4c4cc;
    background: #fff;
    font-size: 14px;
    color: #333;
}

footer .btm {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0;
    font-size: 14px;
    color: #a8a8a8;
    line-height: 46px;

}

footer .btm ul {
    display: flex;
}

footer .btm li {
    padding: 0 0 0 12px;
}

footer .btm li a {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 100%;
}

footer .btm li:nth-child(1) a {
    background: url("../images/sns_3.png") no-repeat center;
}
footer .btm li:nth-child(2) a {
    background: url("../images/sns_1.png") no-repeat center;
}
footer .btm li:nth-child(3) a {
    background: url("../images/sns_2.png") no-repeat center;
}
footer .btm li:nth-child(4) a {
    background: url("../images/sns_4.png") no-repeat center;
}

